.show
  .show_box
    .show_details
      .show_title
        = @post.title
      .show_text
        = @post.text
      .show_user
        %ul.show_user_btns
          %li.show_user_icon
          %li.show_user_name
            投稿者の名前
          -if user_signed_in? && current_user.id == @post.user_id
            %li.show_edit_btn
              = link_to edit_post_path(@post.id), class: "show_edit-link" do
                編集
            %li.show_delete_btn
              = link_to post_path(@post.id), method: :delete, class: "show_delete-link", data: {confirm: "本当に削除しますか？"} do
                削除
      .show_comment
        追記 コメントする。コメントフォーム
        
    .show-image
      = image_tag @post.image, width: '100%',height:'100%'


      
