%footer
  .footer__box
    .icons
      = link_to "https://twitter.com/", class: "twitter" do
        = icon('fab', 'twitter')
      = link_to "https://www.instagram.com/", class: "instagram" do
        = icon('fab', 'instagram')
      = link_to "https://www.facebook.com/", class: "facebook" do
        = icon('fab', 'facebook-square')
    .footer-logo
      JustMe &.
    .footer-text
      happy wear life
      -# <i class="fas fa-star-and-crescent"></i>
      -# 月のアイコン