%header
  .header__box
    .header__logo
      %img(src="/assets/jasmin.png" alt="jasmin" width="70%" height="70%")/
    .header__text
      好きな服のサイズ感をみんなで共有するアプリ
      .appname
        = link_to root_path, class: "appname-link" do
          JustMe &.
    .user__icon
      -if user_signed_in?
        .user__icon--btn
          = link_to edit_user_path(current_user) do
            = image_tag current_user.image.url, width: '100%',height:'100%', class: "user__icon--circle"
    .user__box
      -if user_signed_in?
        .sign-btn
          -# = link_to edit_user_path(current_user), class: "login-btn-link" do
          = link_to user_path(current_user.id), class: "login-btn-link" do
            = current_user.name
        .login-btn
          = link_to destroy_user_session_path, method: :delete, class: "login-btn-link" do
            Log Out
      -else
        .sign-btn
          = link_to new_user_registration_path, class: "sign-btn-link" do
            Sign In
        .login-btn
          = link_to new_user_session_path, class: "login-btn-link" do
            Log In
      

