.wrapper
  = render "header"
  %content
    .content__box
      .content__details
        = form_with model: @post do |f|
          %h3
            編集ページ
          = f.text_area :title, value: @post.title, id: "title", autofocus: true
          = f.text_area :text, value: @post.text, id: "text"
          .default_image
            現在の画像
            = image_tag @post.image.url, width: '90%'
          = f.file_field :image, class: "dropify"
          = f.submit "SEND", id: "send-btn"
  = render "footer"