.wrapper
  = render "/posts/header"
  
  .show__user__page
    .show__user__details
      .show__user__details-icon
        = image_tag @user.image.url, width: '100%',height:'100%', class: "details-icon"
      .show__user__details-name
        = @user.name
        さんがいいねした投稿

      .show__user__details-like
  %ul.content_search
    - @user.liked_posts.each do |post|
      %li.search_post
        = link_to post_path(post.id), method: :get, class: "link__group" do
          .post_image
            = image_tag post.image.url, width: '100%',height:'100%'
            -# %img(src="post.image")
          %ul.post_title
            %li
              = post.title
            %li
              -# -if current_user.already_liked?(@post)
              = icon('fas', 'heart', class: "like-icon-off")
              -# -else
              -# = icon('fas', 'heart', class: "like-icon-on")
              = post.liked_users.count
    = paginate(@posts)
  = render "/posts/footer"