.wrapper
  = render "header"
  %content
    .content__box
      .content__details
        = form_with model: @post do |f|
          %h3
            投稿ページ
          = f.text_area :title, placeholder: "タイトルを入力", id: "title", autofocus: true
          = f.text_area :text, placeholder: "コメントを入力", id: "text"
          = f.file_field :image, class: "dropify"
          = f.submit "SEND", id: "send-btn"
  = render "footer"

