.wrapper
  = render "header"
  %main
    .main__box
      .image__box
        .image__box--left
        .image__box--right
      .btn-box
        -if user_signed_in?
          .share__box
            = link_to new_post_path, class: "share__box--btn" do
              = icon('far', 'share-square', class: "share__box--icon")
              SHARE !
            .share__box--text
              持っている服のサイズ感をみんなに教えてあげよう
          .search__box
            = link_to posts_path, class: "search__box--btn" do
              = icon('fas', 'search', class: "search__box--icon")
              SEARCH !
            .search__box--text
              サイズ感が気になる服の情報をみんなに教えてもらおう
        -else
          .share__box
            = link_to new_user_session_path, class: "share__box--btn" do
              = icon('far', 'share-square', class: "share__box--icon")
              SHARE !
            .share__box--text
              持っている服のサイズ感をみんなに教えてあげよう
          .search__box
            = link_to new_user_session_path, class: "search__box--btn" do
              = icon('fas', 'search', class: "search__box--icon")
              SEARCH !
            .search__box--text
              サイズ感が気になる服の情報をみんなに教えてもらおう
  = render "footer"
